@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');


* {
    box-sizing: border-box;
}


body, #root {
    min-width: 100vw;
    min-height: 100vh;
    
    display: block;
}

.main-wrapper {
    height: 100vh;
}

.main-wrapper.mobile {
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr repeat(5, max-content);
    gap: .25rem;
    
    justify-content: space-between;
}
.main-wrapper.desktop {
    padding: 30rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr repeat(5, max-content);
    gap: .25rem;
    place-content: center;
}


.output-wrapper {
    grid-column: 1 / 5;

    padding: 25px 10px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;

    border-radius: 25px;
    background-color: #1a1a1a;
}

.output-wrapper > span {
    text-align: right;
    color: #bbb;
    font-family: 'Fira Code', monospace;
}

.input {
    overflow-x: auto;
    width: 100%;
    
    color: #FFF;
    font-weight: 900;
    text-align: right;
    font-family: 'Fira Code', monospace;
    
    &:focus {
        outline: none;
    }
}

.button {
    padding: 20px;

    display: grid;
    aspect-ratio: 1;
    place-content: center;

    border-radius: 50%;
    background-color: #1a1a1a;

    color: #FFF;
    font-family: sans-serif;
    font-size: 2rem;

    transition: opacity .2s linear;
    
    &:hover, &:active {
        border: none;
        outline: none;
        opacity: .5;
    }

    &.clear {
        background-color: hsl(7, 50%, 60%);
        color: #000;
    }
    
    &.operator {
        background-color: hsl(40, 50%, 80%);
        color: #000;
    }
    
    &.equals {
        background-color: hsl(40, 50%, 60%);
        color: #000;
    }
}